
p {
    text-align:center;
}

aside {
    font-size: 19px;
    padding: 5px 0;
    text-decoration: none;
    width: 100%;
}

aside a {
    color: blanchedalmond;
    display: block;
    padding: 5px 0;
    text-decoration: none;
    width: 65%;
 }

 aside a:hover {
    background-color:#3e1c52;
    color: blanchedalmond;
 }

 .hero {
    width:100%;
    aspect-ratio: 16/9;
    overflow:hidden;
    position: relative;
    display: flex;
    align-items:center;
    justify-content: center;
 }

 .hero img {
    width: 95%;
    height: 110%;
    object-fit:contain;
    position: absolute;
    inset: 0;
 }

 @media only screen and (min-width:768px) {
    main {
        display:flex;
    }

    aside {
        align-items: center;
        display: flex;
        flex-direction: column;
        float: left;
        justify-content: center;
        width: 30%;
    }

    section {
        display: inline;
        float: right;
        width: 70%;
    }

    .indexbody {
        max-width:fit-content;
        align-self: center;
        margin: 10px;
        padding: 10px;
        box-sizing: border-box;
        background-color: rgb(40, 180, 180);
        color: lightgray;
        font-size: 19px;
        line-height: 1.6;
    }
 }
 header {
    background-color: #3e1c52;
    color:blanchedalmond;
    padding: 16px 32px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
 }

 footer {
    background-color: #3e1c52;
    color:blanchedalmond;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    width: 100%;
    position: relative;

 }
